body
{
background-color: rgba(105, 102, 102, 0.158);
}

h3
{
  
}
p
{

}
a
{
  font-size: 20px;
  text-decoration: none;
}

h1
{
  font-style: italic;
}

.indexli
{
    width: 180px;
    cursor: pointer;
    height: 35px;
  border: none;
}
